{% extends "core/base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
<section class="text-center m-5">
 <h1>My Account</h1>
<a href="{% url 'logout' %}" class = "btn btn-primary">Log out</a>

<a href="{% url 'my_store' %}" class = "btn btn-primary">My store</a>
<h3 class="m-5">
    {{ user.username }}
</h3>

    {% if messages %}

{% for message in messages %}
<div class="text-center m-5">

  {{ message }}

</div>
{% endfor %}

{% endif %}

    <section class="card m-5 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 40rem;">
  <form class="form-control" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ u_form.as_p }}
      {{ p_form.as_p }}

    <button type="submit" class="button">Submit</button>
  </form>

</section>
{% endblock %}

